html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .iframeContainer {
    min-height: 30vh;
  }
}

@media screen and (min-width: 796px) {
  .iframeContainer {
    min-height: 85vh;
    max-height: 90vh;
  }
}

.awssld__content {
  background-color: white !important;
}

.iconBig {
  font-size: 30px;
}
